server {
        listen 443 ssl;
        server_name www.domain.com; #填写绑定证书的域名
        rewrite ^(.*) https://laobuluo.com$1 permanent
        ssl_certificate 1_www.domain.com_bundle.crt;  # 指定证书的位置，绝对路径
        ssl_certificate_key 2_www.domain.com.key;  # 绝对路径，同上
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;
        location / {
            root   html; #站点目录，绝对路径
            index  index.html index.htm;
        }
}