server {
        listen 443 ssl;
        server_name www.domain.com; #填写绑定证书的域名
        rewrite ^(.*) https://laobuluo.com$1 permanent
        ssl_certificate 1_www.domain.com_bundle.crt;  # 指定证书的位置，绝对路径
        ssl_certificate_key 2_www.domain.com.key;  # 绝对路径，同上
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers ECDHE-RSA-AES256-SHA384:AES256-SHA256:RC4:HIGH:!MD5:!aNULL:!eNULL:!NULL:!DH:!EDH:!AESGCM;
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;
        ssl_session_timeout 10m;
        location / {
            root   html; #站点目录，绝对路径
            index  index.html index.htm;
        }
}
 server {
       listen       800;
       server_name  192.168.100.1;
       location / {
           proxy_pass http://192.168.100.1:8080;
       }

       error_page   500 502 503 504  /50x.html;
       location = /50x.html {
          root   html;
      }
  }
server {
listen 8443;
server_name 192.168.100.2;
ssl on;
ssl_certificate /etc/nginx/https_keys/server.crt;#配置证书位置
ssl_certificate_key /etc/nginx/https_keys/server_unsecure.key;#配置秘钥位置
#ssl_client_certificate ca.crt;#双向认证
#ssl_verify_client on; #双向认证
ssl_session_cache shared:SSL:10m;
ssl_session_timeout 10m;
ssl_protocols SSLv2 SSLv3 TLSv1;
ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
ssl_prefer_server_ciphers on;
location / {
proxy_pass http://192.168.100.1:8080;
}
}
server {
listen       801;
server_name  192.168.100.2;
rewrite ^/(.*) https://192.168.100.2:8443/$1 permanent;
#rewrite ^ https://$http_host$request_uri;    # force redirect http to https
#return 301 https://$http_host$request_uri;
}